{% extends 'base.html.twig' %}

{% block title %}Crear Nuevo Prestamos
{% endblock %}

{% block body %}

	<div class="container">

		{{ form(form) }}
		</div>


	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		 <script src="{{ asset('js/prestamos.index.js') }}"></script>
		 <script>
		$(document).ready(function() {

		    $('#prestamo_form_cliente').select2();
		});
		</script>

	{% endblock %}
