{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}


	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-8">
					<div class="page-header-title">
						<h5 class="m-b-10">
							<i class="fa-solid fa-file-invoice-dollar me-2"></i>Usuarios</h5>
						<p class="m-b-0">Gestion de Usuarios y Roles</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<table class="table table-bordered " id="table-usuarios">
			<thead class="table-primary">
				<tr>
					<th scope="col" class="text-secondary text-uppercase ">#</th>
					<th scope="col" class="text-secondary text-uppercase ">username</th>
					<th scope="col" class="text-secondary text-uppercase ">Role</th>
					<th scope="col" class="text-secondary text-uppercase ">#</th>
				</tr>
			</thead>
			<tbody>
				{% for usuario in usuarios %}

					<tr>
						<th scope="row">{{ usuario.id }}</th>
						<td>{{ usuario.username }}</td>
						<td>{{ usuario.roles[0] }}</td>
						<td>
							<a href="{{ path('app_cliente_edit_page', {id: usuario.id}) }}" type="button" class="btn btn-primary btn-sm">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>

						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
